:root {
    --background-primary: #faf3f0;
    --background-secondary: #fff;
    --background-ternary: #eeeeee;
    --color-primary: #222831;
    --color-secondary: #393e46;
    --color-tertiary: #00adb5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    background-color: var(--background-primary);
    font-family: 'DM Sans', sans-serif;
    color: var(--color-primary);
    height: 100%;
    width: 100%;
}

.main-content {
    background: var(--background-secondary);
}
